.custom-text-primary {
    background: white;
    color: #1F5D25;
}
.custom-text-primary::before {
    background: #1F5D25;
}
.custom-bg-primary{
    background: #1F5D25;
}
.custom-bg-primary+h6{
    color: white !important;
}

.custom-nav-item{
    background: white;
    color: #1F5D25;
}